/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url(Blue\ Modern\ Pandemic\ Health\ Campaign\ Poster\ \ \(1\).png);
    
    
    
}

.mainly {
    
    color: #fff;
    text-align: center;
    padding: 120px;
    font-size: 100px;
   
    
}

section {
    background-color: #ade4ff;
    color: #25264b;
    border-width: 2px;
    border-color: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 450px;
    border-radius: 10px;
   
}


h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #04111a;
}

button {
    background-color: #007acc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 7.5px;
    
}

button:hover{
    background-color: #202A44;
    
}

.result {
    margin-top: 20px;
}
.checkBedAvailability{
    border-radius: 12px;
    background-color: #a3cfec;
    color: #202A44;
}
footer {
    background-color: #007acc;
    color: #fff;
    text-align: center;
    padding: 10px;
}